<div class="container">
    <!-- <h2>Vertical (basic) form</h2> -->
    <form [formGroup]="formdata" >
      <div class="form-group">
        <label for="firstname">FIRST NAME:</label>
        <input type="text" class="form-control" id="firstname" placeholder="Enter name" name="firstname" formControlName="firstname" >
      </div>

      <div class="form-group">
        <label for="age">AGE:</label>
        <input type="number" class="form-control" id="age" placeholder="Enter age" name="age" formControlName="age" >
      </div>

      <div class="form-group">
        <label for="gmail">GMAIL:</label>
        <input type="email" class="form-control" id="gmail" placeholder="Enter gmail" name="gmail" formControlName="gmail" >
      </div>
   
      <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>

      <button   class="btn btn-success" (click)="updatedata()">UPDATE</button>
      
    </form>
  </div>